


<div class="card" style="width: 20rem;">
  <img src="https://i.pinimg.com/736x/f3/3c/c0/f33cc07fa0044261d61a6645a67ef496.jpg" class=" img-thumbnail float-left" alt="...">
  <div class=" card-body ">
    <div class="header display-5" >
      <%= @contact.first_name %> <%= @contact.last_name %>
    </div>
    <div class="header h4" >
      <%= @contact.phone %>
    </div>
    <div class="header h4" >
      <%= @contact.email %>
    </div>
  </div>

</div>
<br/>
<div>
  <%= link_to "Edit",edit_contact_path(@contact), class:"text-white btn btn-secondary" %>
  <%= link_to "Contacts",root_path, class:"text-white btn btn-secondary" %>


</div>
<br/>
<div>
  <%= button_to "Delete", @contact, method: :delete,data: { confirm: 'Are you sure?' },class:"text-white btn btn-danger" %>

</div>
